 html, 
 body {
 	height: 100%;
 }
 *{
 	border: 1px solid red !important;
 }

 body {
 	background-color:red;
 	padding 50px;
 }

 div {
 	border: 1px solid black;
 }

 span {
 	border:1px solid blue;
 }

 ul { 
 	border: 1px solid black;
 }

 .list { 
 	border:px solid black; 
 	background-color: blue;
 }

 .list-specialny li { 
 	display: inline-block;
 	background-color:red;
 }

 p {
 	font-size: 30px;
 }

 .bold {
 	font-weight:bold;
 }


p.orange {
	color:orange;
	}
.orange { 
	color: black; 
	}
#intro {
	color: red;
}

a[title]:focus {
	color: blue;
	font-size: 50px;
}

div > strong { 
	border: 1px solid red; 
	}

	p:hover {
		font-weight: bold;
		text-decoration: underline;
	}

	.link {
		text-decoration:none
	}





















