

}
body,htlml {
	margin: 0;
}
body {
	background: #fe3747;
	color: #fff;
	text-align: center;
	padding: 22px;
	font-family: tahoma;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
	font-size: 100px;
	background: lightgrey;
}

h2 {
	display: none;
}


p {
	line-height: 22px;
	margin-top: 50px;
	
}

a {
	color: #fe3747;
	background: #FFF;
	text-decoration: none;
	padding: 3px 6px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-weight: bold;
}
a:hover {
	background: blue;
}

.main {
	width: 50%;
	margin: 50px auto;
}

.special {
	color: #333;
	width: 300px;
	margin: 50px auto;
	background: lightblue;
	padding: 20px;
	border: 14px solid white;
	height: 100px;
	overflow: scroll;
}

.highlight {
	color: green;
}


















































